<!doctype html>
<html>
<head>
<title>Who am I?</title>
</head>
<body>
<h1>Who am I?</h1>
<p>
made for freecodecamp.com
</p>
<h2>Usage:</h2>
<pre>
GET <a href="/api/whoami">/api/whoami</a>
</pre>
<p>
will return your IPv4 address, primary language and some parenthesized substring
of your UA string.
</p>
</body>
</html>
